<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="./assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    {{include "../views/common/header.html" }}

    <div class="layui-side layui-bg-black">
      {{include "../views/common/menu.html" }}
    </div>

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">内容主体区域.</div>
    </div>

    {{include "../views/common/base.html" }}
  </div>
  <script src="./assets/layui/layui.js"></script>
  <script>
    //JS 
    layui.use(['element', 'layer', 'util'], function () {
      var element = layui.element
        , layer = layui.layer
        , util = layui.util
        , $ = layui.$;

      $.get('/gethead').then((res) => {
        console.log(res);
        $('#logoText').text(res[0].val)
        window.localStorage.setItem('logoText', res[0].val)
        window.localStorage.setItem('id', res[0].id)
      })

      // //头部事件
      // util.event('lay-header-event', {
      //   //左侧菜单事件
      //   menuLeft: function (othis) {
      //     layer.msg('展开左侧菜单的操作111', { icon: 0 });
      //   }
      //   , menuRight: function () {
      //     layer.open({
      //       type: 1
      //       , content: '<div style="padding: 15px;">处理右侧面板的操作234</div>'
      //       , area: ['260px', '100%']
      //       , offset: 'rt' //右上角
      //       , anim: 5
      //       , shadeClose: true
      //     });
      //   }
      // });

    });
  </script>
</body>

</html>