<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="../assets/layui/css/layui.css">
  <!-- <link rel="stylesheet" href="../assets/dist/css/lightbox.min.css"> -->
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    {{include "../views/common/header.html" }}

    <div class="layui-side layui-bg-black">
      {{include "../views/common/menu.html" }}
    </div>

    <div class="layui-body">
      <div style="padding: 15px;">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="main" style="width: 1000px;height:400px;"></div>
      </div>
    </div>

    {{include "../views/common/base.html" }}
  </div>
  <!-- <script src="./assets/layui/layui.js"></script> -->
  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
  <!-- <script src="../assets/dist/js/lightbox-plus-jquery.min.js"></script> -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script> -->
  <script>
    //JS 
    layui.use(['element', 'layer', 'util'], function () {
      var element = layui.element
        , layer = layui.layer
        , util = layui.util
        , $ = layui.$;

      $.get('/gethead').then((res) => {
        $('#logoText').text(res[0].val)
        $('#blogLogoimg').attr('src', res[0].blogLogo)
        window.localStorage.setItem('logoText', res[0].val)
        window.localStorage.setItem('id', res[0].id)
        window.localStorage.setItem('blogLogo', res[0].blogLogo)
      })
    });
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;


    function loadGraphy(cates) {
      option = {
        title: {
          text: '文章统计图',
          // subtext: 'Fake Data',
          left: 'center'
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          orient: 'vertical',
          left: 'left'
        },
        series: [
          {
            name: '文章数据',
            type: 'pie',
            radius: '50%',
            data: cates,
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      };
      option && myChart.setOption(option);
    }

    $.get('/cateCount').then(res => {
      let cates = [];
      res.forEach(item => {
        let value = item.total;
        let name = item.cate_name
        let obj = { value, name };
        cates.push(obj)
      })
      loadGraphy(cates);
    })

  </script>
</body>

</html>