<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/layui/css/layui.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_3324354_me3f27gvszk.css">
    <style>
        /* .hide {
            display: none;
        }

        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 20px;
            background-color: #009688;
            color: white;
            line-height: 38px;
            border-radius: 2px;
            height: 38px;
        }

        .photo:hover {
            background-color: #33aba0;
        } */

        .iconCenter {
            display: flex;
            align-items: center;
        }

        .iconCenter span {
            padding-left: 5px;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">修改个人密码</h1>
    <form class="layui-form" id="updUser" lay-filter="updUser">
        <!-- <div> -->
        <div class="layui-form-item" style="padding-top:15px;">
            <label class="layui-form-label" style="width: 100px;">请输入旧密码</label>
            <div class="layui-input-inline iconCenter">
                <input type="password" name="oldpassword" id="oldpassword" lay-verify="required" autocomplete="off"
                    class="layui-input">
                <!-- <div id="oldtitle" style="padding-left: 10px;"></div> -->
                <span><i class="icof iconfont" id="incoSucceed"></i></span>
            </div>
        </div>
        <div class="layui-form-item" style="padding-top:15px;">
            <label class="layui-form-label" style="width: 100px;">请输入新密码</label>
            <div class="layui-input-inline iconCenter">
                <input type="password" name="newpassword" id="newpassword" lay-verify="required" autocomplete="off"
                    class="layui-input">
                <span><i class="icof iconfont" id="newText"></i></span>
            </div>
        </div>
        <div class="layui-form-item" style="padding-top:15px;">
            <label class="layui-form-label" style="width: 100px;">重新输入新密码</label>
            <div class="layui-input-inline iconCenter">
                <input type="password" name="repepassword" id="repepassword" lay-verify="required" autocomplete="off"
                    class="layui-input">
                <!-- <div id="newtitle" style="padding-left: 10px;"></div> -->
                <span><i class="icof iconfont" id="repeText"></i></span>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formAddList" id="btn"
                    onclick="return lll()">保存</button>
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
            </div>

        </div>
        <!-- </div> -->
    </form>
</body>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../assets/layui/layui.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<script>
    let { username, intro, avatar, pic } = JSON.parse(Cookies.get('userLogin'))[0]
    function lll() {
        return false;
    }
    layui.use(['upload', 'element', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , element = layui.element
            , layer = layui.layer,
            form = layui.form

        let { username, id, intro, avatar } = JSON.parse(Cookies.get('userLogin'))[0]

        function iconyes(yesEle) {
            return yesEle.addClass('icon-dui').css('color', 'green')
        }
        function iconno(noEle) {
            return noEle.addClass('icon-cha').css('color', 'red')
        }

        $('#oldpassword').blur(function () {
            isoldpassword = {
                password: $('#oldpassword').val()
            }
            $.ajax({
                type: 'post',
                url: `http://127.0.0.1:3400/ispassword/${id}`,
                data: isoldpassword
            }).then((res) => {
                if (res.code === 1) {
                    iconyes($('#incoSucceed'))
                    $('#oldpassword').attr('disabled', "disabled")
                } else {
                    iconno($('#incoSucceed'))
                }
            })
        })
        $('#newpassword').blur(function () {
            if ($(this).val()) {
                iconyes($('#newText'))
            } else {
                iconno($('#newText'))

            }
        })
        $('#repepassword').blur(function () {
            if ($(this).val() == '') {
                iconno($('#repeText'))
            }
            else if ($(this).val() === $('#newpassword').val()) {
                iconyes($('#repeText'))
            }
            // else {
            //     $('#repeText').addClass('icon-cha').css('color', 'red').removeClass('icon-dui')
            //     layer.msg('两次密码不相同')
            // }
        })

        $('#btn').click(async function () {
            if ($('#newpassword').val() === $('#repepassword').val()) {
                $.ajax({
                    type: 'post',
                    url: `http://127.0.0.1:3400/updpasswod/${id}`,
                    data: {
                        newpassword: $('#repepassword').val()
                    }
                })
                    .then((res) => {
                        // console.log(res);
                        if (res.code === 1) {
                            layer.msg(res.message)
                            setTimeout(function () {
                                parent.location.href = '/'
                            }, 1000)
                        } else {
                            layer.msg(res.message)
                        }
                    })
                return;
            } else {
                iconyes($('#repeText'))
                layer.msg('两次密码不相同')
            }
            $('#newtitle').text()
        })
    })

</script>

</html>